@import '../../variables.scss';

.about {
    display: grid;

    @include tablet {
        grid-template-columns: 1fr 1fr;
    }
}


.about_image_container {
    overflow: hidden;

    & img {
        display: block;
        width: 100%;

        @include tablet() {
            height: 100%;
            width: auto;
        }

        @include laptop() {}
    }

    @include tablet() {
        height: 589px;
        display: flex;
        justify-content: center;
    }

    @include laptop() {
        height: 460px;
    }
}

.about_content {
    background: $prime-color-accent;
    color: $text-color-light;
    padding: 80px 20px;

    @include tablet {
        padding: 62px 32px;
    }

    @include laptop {
        padding: 80px 20px;
    }
}

.about_you {
    display: block;
    margin-bottom: 16px;

}

.about_h {
    font-size: 32px;
    line-height: 44px;
    font-weight: normal;
    margin-bottom: 24px;

    @include tablet {
        font-size: 40px;
        line-height: 48px;
    }
}

.about_p {
    margin-bottom: 24px;
}

.contrast_btn {
    @include button_transparent(color, $prime-color-accent)}