@import '../../variables.scss';

.blog {
    display: grid;
    grid-template-areas: 'image'
        'post';
    margin-left: auto;
    margin-right: auto;
    justify-self: center;

    @include tablet {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "post image";
    }
}

.blog_img {
    grid-area: image;
    overflow: hidden;

    img {
        display: block;
        width: 100%;

        @include tablet{
            width: auto;
        }
    }

    @include tablet{
        display: flex;
        justify-content: center;
    }
}


.blog_content {
    grid-area: post;
    background: $secondary-color-accent;
    color: $text-color-light;
    padding: 48px 20px 58px 20px;

    @include tablet {
        padding: 59px 32px;
    }

    @include laptop {
        padding: 80px 20px 80px 28px;
    }
}

.blog_date {
    margin-bottom: 16px;
}

.blog_post_h {
    margin-bottom: 24px;
    font-weight: normal;
    font-size: 40px;
    line-height: 54px;
}

.blog_p{margin-bottom: 24px;}

.blog_btn{
    @include button_transparent(color, $secondary-color-accent)
}